.navbar-wrapper {
  width: 100%;
  min-height: 64px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: white;
}

.logo {
  width: 121px;
  display: flex;
  flex-shrink: 0;
}

.logo-label {
  height: 21px;
  margin-left: 10px;
  align-self: center;
}

.navbar {
  margin-top: 16px;
  width: 100%;
  justify-content: space-between;
  position: relative;
  display: flex;
  align-items: center;
}

.navbar-list {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 60px;
}

.navbar-list-group {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 50px;
  flex: wrap;
}

.navbar-link-active {
  font-variation-settings: "wght" 700;
  font-size: 19px;
  color: #545454;
  border-bottom: 2px solid #545454;
}

.navbar-link {
  font-variation-settings: "wght" 500;
  font-size: 19px;
  color: #545454;
}

.navbar-link:hover {
  border-bottom: 2px solid #545454;
  transition: all ease-in-out 0.2s;
}

.navbar-link:active {
  font-variation-settings: "wght" 700;
}

.navbar-button-wrapper {
  display: flex;
  min-width: 60px;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
}

.navbar-button,
.navbar-userinfo {
  font-variation-settings: "wght" 300;
  font-size: 14px;
}

.navbar-button:hover {
  border-bottom: 1px solid #545454;
}

.navbar-link:active {
  font-variation-settings: "wght" 500;
}

.navbar-mobile-buttons {
  display: none;
}

.navbar-list-mobile {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: -50px;
}

/* mobile responsive navbar */
@media screen and (max-width: 800px) {
  .navbar-list-group {
    display: none;
  }

  .navbar-button-wrapper {
    display: none;
  }

  .navbar-mobile-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-left: auto;
    padding-top: auto;
  }
  .navbar-list {
    flex-wrap: wrap;
  }
}

.hideMenuList {
  display: none;
}

.showMenuList {
  display: flex;
  flex-direction: column;
}
